<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmg1uUoj4A0FsJAAIZ4zQVCtHTd1nG_P0</string>
	<key>GCM_SENDER_ID</key>
	<string>822482765454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fatecararas.f290DsmLdmPocPi6</string>
	<key>PROJECT_ID</key>
	<string>f290-ldm-poc-pi6</string>
	<key>STORAGE_BUCKET</key>
	<string>f290-ldm-poc-pi6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822482765454:ios:71932cf6b588352fdbabdf</string>
</dict>
</plist>